html,
body {
  cursor: none;
}

container-element {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  & square-element {
    width: 150px;
    height: 150px;
    background-color: aqua;
    display: block;
    position: relative;

    & .square {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-radius: 50%;
      background: transparent;
      z-index: 1;

      & .hatch {
        position: absolute;
        left: 0;
        width: 100%;
        height: 50%;
        background: darkgreen;
      }

      & .hatch:first-of-type {
        top: 0;
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
        z-index: 0;
      }

      & .hatch:last-of-type {
        bottom: 0;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
        z-index: 2;
      }

      & img {
        display: none;
      }
    }

    & .animate {
      width: 100%;
      height: 100%;
      overflow: hidden;

      & .hatch:first-of-type {
        animation: open-and-close-top 6s;
      }

      & .hatch:last-of-type {
        animation: open-and-close-bottom 6s;
      }

      & img {
        display: block;
        width: 70px;
        height: 70px;
        position: absolute;
        animation: show-and-hide 3s;
        animation-delay: 1.5s;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        z-index: 1;
        /* opacity: 0; */
        visibility: hidden;
      }
    }

  }
}

@keyframes open-and-close-bottom {
  0% {
    bottom: 50%;
    left: 50%;
    right: 50%;
    width: 0;
    height: 0;
  }

  50% {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
  }

  100% {
    bottom: 50%;
    left: 50%;
    right: 50%;
    width: 0;
    height: 0;
  }
}

@keyframes open-and-close-top {
  0% {
    top: 50%;
    left: 50%;
    right: 50%;
    width: 0;
    height: 0;
  }

  50% {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
  }

  100% {
    top: 50%;
    left: 50%;
    right: 50%;
    width: 0;
    height: 0;
  }
}

@keyframes show-and-hide {

  0%{
    bottom: 0;
  }

  8% {
    visibility: hidden;
  }

  50% {
    bottom: 70px;
    visibility: visible;
  }

  70% {
    visibility: hidden;
  }

  100% {
    bottom: 0;
  }
}

.custom-cursor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}

.site-wide {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 1);
}

.site-wide .pointer {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
}

.site-wide.active .pointer {
  width: 20px;
  height: 20px;
}

.custom-cursor:has(.background-image) {
  background-image: url('/public/hummer.svg');
  background-size: contain;
  border: none;
  width: 74px;
  height: 74px;
}

.background-image {
  display: none;
}